<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.5.0-rc.4" targetFramework="net47" />
  <package id="Eto.Platform.Mac" version="2.5.0-rc.4" targetFramework="net47" />
  <package id="Eto.Platform.Windows" version="2.5.0-rc.4" targetFramework="net47" />
  <package id="RoslynCodeTaskFactory" version="2.0.7" targetFramework="net47" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net47" />
</packages>